/*
Theme Name: SVPool2 Theme
Theme URI: 
Author: AyreMedia
Author URI: 
Description:  SVPool Theme based on WP Bootstrap Starter
Version: 0.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: wp-bootstrap-starter
Tags: 
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Woocommerce
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
body {
  margin: 0;
  -webkit-font-smoothing: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 2.5rem;
}

hr {
  box-sizing: content-box;
  height: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}
.site {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #24292e;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 32px;
  padding-bottom: 10px;
}
h2 {
  font-size: 24px;
  padding-bottom: 0.3em;
  line-height: 1.25;
}
h3 {
  font-size: 18px;
  line-height: 25px;
}
h4 {
  font-size: 16px;
  line-height: 20px;
}
h5 {
  font-size: 14px;
  line-height: 17.5px;
}

p {
  margin-bottom: 1.5em;
}
h1.entry-title {
  font-size: 1.31rem;
  border-bottom: 1px solid #eaecef;
}
.page-title {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  transition: .2s;
  opacity: 1;
  padding-top: 200px;
  margin-bottom: 0;
}
.home .page-title {
  padding-top: 235px;
}
.page-title span {
  color: #c61c2b;
}
h2.entry-title {
  border-bottom: 1px solid #eaecef;
}
h3.widget-title {
  font-size: 1.2rem;
}


/* Headings

--------------------------------------------- */

.navbar-brand {
	padding-top: 0;
}
.navbar-brand>a {
	font-family: 'Montserrat', sans-serif;
}
#masthead .navbar-nav>li a {
	border-bottom-width: 0;
	display: block;
	font-family: 'Montserrat', sans-serif;
	padding: 8px 15px;
	font-weight: 400;
	font-size: 14px;
  line-height: 1.2;
}
div#page-sub-header h1 {
	font-family: 'Montserrat', sans-serif;
}
#secondary .widget-title {
	font-family: 'Montserrat', sans-serif;
}
.entry-meta {
	font-family: 'Montserrat', sans-serif;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  /* Fallback for when there is no custom background color defined. */
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

 span.wpcf7-not-valid-tip {
  font-size: .8em;
  color: #dc3545;
}
 div.wpcf7-validation-errors,  div.wpcf7-acceptance-missing,
 div.wpcf7-mail-sent-ok {
  font-size: .9em;
  padding: 0;
  border: none;
  text-align: center;
  margin-top: -20px;
}
 div.wpcf7-validation-errors,  div.wpcf7-acceptance-missing {
  color: #dc3545;
}
 div.wpcf7-mail-sent-ok {
  color: #28a745;
}

 .ajax-loader {
  display: block !important;
  margin: 5px auto !important;
}
/* Custom CF7 Loader */
 div.wpcf7 span.ajax-loader {
  display: none !important;
}
 div.wpcf7 i.ajax-loader {
  background-image: none;
  font-size: 24px;
  color: #000;
  width: 24px;
  height: 24px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
header#masthead {
  margin-bottom: 0;
  background-color: #141414;
  background-color: transparent;
  padding: 40px 20px 10px;
  border-top: 10px solid #E9B749;
  transition: 0.3s background-color;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
header#masthead.shrink {
  background-color: #141414;
}

.header-border.shrink {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
.entry-header.shrink {
  position: -webkit-sticky;
  position: sticky;
  top: -164px;
}

.page-container .entry-header.shrink {
  top: -264px;
}
.entry-header.shrink .page-title {
  opacity: 0;
}
.navbar-brand {
  margin-right: 0;
}

.navbar-brand > a {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.1rem;
  outline: medium none;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.navbar-brand > a:visited, .navbar-brand > a:hover {
  text-decoration: none;
}

#page-sub-header {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 0;
  text-align: center;
  font-size: 1.25rem;
  background-size: cover !important;
}

body:not(.theme-preset-active) #page-sub-header h1 {
  line-height: 1.6;
  font-size: 4rem;
  color: #563e7c;
  margin: 0 0 1rem;
  border: 0;
  padding: 0;
}

#page-sub-header p {
  margin-bottom: 0;
  line-height: 1.4;
  font-size: 1.25rem;
  font-weight: 300;
}
body:not(.theme-preset-active) #page-sub-header p {
color: #212529;
}
a.page-scroller {
  color: #333;
  font-size: 2.6rem;
  display: inline-block;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  body:not(.theme-preset-active) #page-sub-header h1 {
    font-size: 3.750rem;
  }
  body:not(.theme-preset-active) #page-sub-header {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 992px) {
  #page-sub-header p {
    max-width: 43rem;
    margin: 0 auto;
  }
}

/* Mobile overlay menu */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff url('./inc/assets/img/dragon-gray.svg') center center no-repeat;
  background-size: 650px 650px; 
  border-top: 10px solid #E9B749;
  border-bottom: 10px solid #c51c2b;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 25px;
  top: 25px;
  overflow: hidden;
  border: none;
  color: #141414;
  outline: none;
  z-index: 100;
  font-size: 30px;
  background: transparent;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
 /* height: 20%;
  height: calc(100% / 5);
  min-height: 54px;*/
}

.overlay ul li a {
  font-weight: 400;
  display: block;
  color: #000;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #000;
}


/* Effects */
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);  
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  overflow: scroll;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

.menu-main-nav-container,
.menu-user-nav-container {
  text-align: center;
}
.menu-main-nav-container ul {
  padding: 50px 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 50px;
  width: 250px;
}
.menu-user-nav-container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.menu-user-nav-container ul {
  width: 250px;
}
.overlay ul li {
  margin-bottom: 0;
}
.overlay ul li a {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.overlay h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
}
.overlay .btn-nav {
  width: 100%;
}
.overlay .btn-nav.btn-secondary {
  background: #fff;
  border: 1px solid #000;
  margin-right: 0;
  margin-bottom: 20px;
}
.overlay .btn-nav.btn-primary a {
  color: #fff;
}
.overlay .btn-nav.btn-secondary a,
.overlay .btn-nav.btn-primary a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 13px 20px;
  width: 100%;
}
.overlay .logo {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.overlay .logo img {
  width: 180px  ;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#masthead nav {
  padding-left: 0;
  padding-right: 0;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
  color: #cdbfe3;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a:hover,
body:not(.theme-preset-active) #masthead .navbar-nav > li.current_page_item > a {
  color: #fff;
  font-weight: 600;
  /*background: #f9f9f9;*/
}

.navbar-brand {
  height: auto;
}
.navbar-brand img {
  height: 45px;
  /*height: 2.8rem;*/
  max-width: inherit;
}

.navbar-toggle .icon-bar {
  background: #000 none repeat scroll 0 0;
}

.dropdown-menu .dropdown-toggle::after {
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
  border-top: 0.3em solid transparent;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.dropdown-item {
  line-height: 1.2;
  padding-bottom: 0.313rem;
  padding-top: 0.313rem;
}

.dropdown-menu {
  min-width: 12.500rem;
}

.dropdown .open .dropdown-menu {
  display: block;
  left: 12.250em;
  top: 0;
}

.dropdown-menu .dropdown-item {
  white-space: normal;
  background: transparent;
  line-height: 1.6;
}
.dropdown-menu .dropdown-item:hover {
  background: transparent;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .dropdown-menu li > .dropdown-menu {
    right: -9.875rem;
    top: 1.375rem;
  }
}
@media screen and (max-width: 991px) {
  .navbar-nav .dropdown-menu {
    border: medium none;
    margin-left: 1.250rem;
    padding: 0;
  }

  .dropdown-menu li a {
    padding: 0;
  }

  #masthead .navbar-nav > li > a {
    padding-bottom: 0.625rem;
    padding-top: 0.313rem;
  }

  .navbar-light .navbar-toggler {
    border: medium none;
    outline: none;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
.comment-content.card-block {
  padding: 20px;
}

.navigation.post-navigation {
  padding-top: 1.875rem;
}

.post-navigation .nav-previous a,
.post-navigation .nav-next a {
  border: 1px solid #ddd;
  border-radius: 0.938rem;
  display: inline-block;
  padding: 0.313rem 0.875rem;
  text-decoration: none;
}

.post-navigation .nav-next a::after {
  content: " \2192";
}

.post-navigation .nav-previous a::before {
  content: "\2190 ";
}

.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover {
  background: #eee none repeat scroll 0 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 0.313rem;
  line-height: normal;
  padding: 0.938rem 1.438rem 0.875rem;
  text-decoration: none;
  top: 0.313rem;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a img.alignright {
  float: right;
  margin: 0.313rem 0 1.25rem 1.25rem;
}

a img.alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img.alignleft {
  float: left;
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption.alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption.alignleft {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption.alignright {
  margin: 0.313rem 0 1.25rem 1.25rem;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  font-size: 13px;
  /* Make sure select elements fit in widgets. */
}
.widget select {
  max-width: 100%;
}

.widget_search .search-form input[type="submit"] {
  display: none;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #eee;
  text-decoration: none;
}
.half-rule {
  width: 6rem;
  margin: 2.5rem 0;
}
.widget_categories .nav-link {
  display: inline-block;
}
.widget label {
  margin-left: 0;
}
.widget-title {
  text-transform: uppercase;
  font-weight: 500;
  color: #8f8f8f;
  margin-top: 30px;
}
.widget li {
  list-style: initial;
  margin-bottom: 0;
}
.widget .nav {
  margin-left: 15px;
}
.widget .nav-link {
  padding: 0;
  color: #3c3c3c;
}
.widget .nav-link:hover {
  background: none;
  text-decoration: underline;
  color: #c61c2b;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
#content {
  background: #fff;
}
#content.site-content {
  padding-bottom: 3.75rem;
  padding-top: 4.125rem;
}
#content.site-content.page {
  /*padding-top: 0;*/
}
#content.site-content.page .content-area {
  padding: 0;
}
#content.site-content.page .entry-content {
  margin-top: 0;
}
#content.site-content.page header {
  background: #141414 url('./inc/assets/img/dragon.svg') center -70px no-repeat;
  background-size: 550px 550px; 
  margin-top: -142px;
  min-height: 290px;
}
#content.site-content.page.page-container header {
  min-height: 400px;
}
#content.site-content.page.page-container header.home {
  background: #141414 url('./inc/assets/img/dragon.svg') center 80px no-repeat;
  background-size: 550px 550px; 
  min-height: 730px;
}
#content.site-content.page header.post {
 /* background: #141414 url('./inc/assets/img/dragon.svg') center -30px no-repeat;
  background-size: 220% 220% */
  min-height: 220px;
}
.sticky .entry-title::before {
  content: '\f08d';
  font-family: "Font Awesome\ 5 Free";
  font-size: 1.563rem;
  left: -2.5rem;
  position: absolute;
  top: 0.375rem;
  font-weight: 900;
}
#content .entry-header.home {
  text-align: center;
}
#content .entry-header.home h1 {
  margin-bottom: 0;
  padding-bottom: 5px;
}
#content .entry-header.home h2 {
  margin-top: 0;
  margin-bottom: 40px;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
}
#content .entry-header.home h2 strong {
  color: #fff;
}
#content .entry-header.home p {
  color: #fff;
  font-weight: 300;
}
.sticky .entry-title {
  position: relative;
}

.quote-pic {
  background: #141414 url('./inc/assets/img/wright.jpg') center center no-repeat;
  background-size: 100% 100%; 
  width: 110px;
  height: 110px;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  margin-top: -240px;
  position: absolute;
  z-index: 100;
  right: 50%;
  margin-right: -55px;
}
.quote-author {
  color: #E9B749;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
}
.features {
  font-size: 13px;
}
.features.gray-skew .row div {
  text-align: center;
  padding: 130px 20px 120px;
}
.features.white-skew .row .col-md {
  text-align: center;
  padding: 60px 20px 20px;
}
.features.white-skew .row .col-sm {
  text-align: center;
  padding: 10px 15px 0px;
}
.features h3 {
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
}
.features .btn-nav.btn-secondary {
  background: #fff;
  border: 1px solid #c61c2b;
  margin-right: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 11px;
  color: #c61c2b;
  font-weight: 500;
  width: 300px;
  display: inline-block;
  letter-spacing: 1px;
  transition: .2s;
}
.features .btn-nav.btn-secondary:hover {
  background: #c61c2b;
  color: #fff;
  text-decoration: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.entry-content .container {
  /*z-index: -1;*/
}
.page-container .entry-content .container.top-skew {
  z-index: 1;
  background: #fff;
  -webkit-clip-path: polygon(0 0, 100% 30px, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 30px, 100% 100%, 0 100%);
  margin-top: -200px;
  text-align: center;
  padding: 90px 80px 250px;
}
.home .page-container .entry-content .container.top-skew {
  padding: 120px 80px 80px;
}
.gray-skew {
  -webkit-clip-path: polygon(0 0, 100% 30px, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 30px, 100% 100%, 0% 100%);
  background: #fafafa url('./inc/assets/img/dragon-white.svg') 120% -50px no-repeat;
  background-size: 600px 600px; 
}
.white-skew {
  -webkit-clip-path: polygon(0 0, 100% 30px, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 30px, 100% 100%, 0% 100%);
  background: #fff;
  margin-top: -50px;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
.features h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}
.features .row div.red-icon {
  width: 50px;
  height: 55px;
  padding: 0px;
  -webkit-clip-path: polygon(0 0, 100% 7px, 100% 100%, 0% 47px);
  clip-path: polygon(0 0, 100% 7px, 100% 100%, 0% 47px);
  margin-bottom: 60px;
}
.features .row div.gold-icon {
  width: 35px;
  height: 40px;
  padding: 0px;
  -webkit-clip-path: polygon(0 0, 100% 5px, 100% 100%, 0% 35px);
  clip-path: polygon(0 0, 100% 5px, 100% 100%, 0% 35px);
  margin-bottom: 30px;
}
.red-icon.cog {
  background:  #c61c2b url('./inc/assets/img/icon-cog.svg') center center no-repeat;
  background-size: 35px 35px; 
}
.red-icon.lightning {
  background:  #c61c2b url('./inc/assets/img/icon-lightning.svg') center center no-repeat;
  background-size: 35px 35px; 
}
.red-icon.btc {
  background:  #c61c2b url('./inc/assets/img/icon-btc.svg') center center no-repeat;
  background-size: 35px 35px; 
}
.gold-icon.tag {
  background:  #E9B749 url('./inc/assets/img/icon-tag.svg') center center no-repeat;
  background-size: 20px 20px; 
}
.gold-icon.btc {
  background:  #E9B749 url('./inc/assets/img/icon-btc.svg') center center no-repeat;
  background-size: 20px 20px; 
}
.gold-icon.time {
  background:  #E9B749 url('./inc/assets/img/icon-time.svg') center center no-repeat;
  background-size: 20px 20px; 
}
.gold-icon.lightning {
  background:  #E9B749 url('./inc/assets/img/icon-lightning.svg') center center no-repeat;
  background-size: 20px 20px; 
}


.page-template-blank-page .entry-content,
.blank-page-with-container .entry-content {
  margin-top: 0;
}

.post.hentry {
  margin-bottom: 4rem;
}

.posted-on, .byline, .comments-link {
  color: #9a9a9a;
}

.entry-title > a {
  color: inherit;
}

.post-header .entry-title {
  font-size: 28px;
  border-bottom: none;
  margin-bottom: 5px;
  padding-bottom: 0
}
.cat-links {
  margin-bottom: 0px;
}
.cat-links a {
  font-size: 13px;
  color: #c61c2b;
}
.byline a {
  font-size: 13px;
  color: #3c3c3c;
  line-height: 1;
  font-weight: 500;
}
.byline .author a:hover {
  color: #3c3c3c;
}
.posted-on {
  margin-top: -5px;
}
.posted-on a {
  font-size: 13px;
  color: #939393;
}
.post-header a:hover {
  color: inherit;
}

.entry-meta {
  margin-bottom: 10px;
}
.post p {
  font-size: 15px;
  line-height: 22px;
}
.post h6 {
  font-size: 15px;
  line-height: 22px;
}
.post h6 em {
  color: #939393;
}
.post p a,
.post h6 a {
  color: #c61c2b;
  text-decoration: none;
}
.post p a:hover,
.post h6 a:hover {
  color: #c61c2b;
  text-decoration: underline;
}

.post .badge,
.post .badge-dark
.post .warning {
  background: none;
  padding: 0;
  font-size: 15px;
}

.post span.badge,
.post span.badge-dark {
  color: #000;
  font-weight: 500;
}
.post a.badge,
.post a.badge-dark,
.post a.badge-warning {
  color: #c61c2b;
  font-weight: 400;
}
.post a.badge:hover,
.post a.badge-dark:hover,
.post a.badge-warning:hover {
  background: none;
  color: #c61c2b;
  text-decoration: underline;
}
.post .tags-links a {
  padding: 3px 10px;
  background: #f3f3f3;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 13px;
  color: #555;
}
.post .tags-links a:hover {
  background: #e8b601;
  text-decoration: none;
  color: #fff;
}
.entry-content .btn-primary {
  background: #c61c2b;
  border: 1px solid #c61c2b;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .1rem;
  line-height: 1.3rem;
  padding: 8px 15px;
  font-weight: 500;
}
.entry-content .btn-primary:hover {
  background: #c61c2b;
  border: 1px solid #c61c2b;
}
.entry-content form .btn-primary {
  width: 175px;
}
.accordion br {
  display: none;
}
.accordion .card-header {
  background: #fff;
  padding: 0;
  border-bottom: none;
}
.accordion .card-header button {
  padding: 30px;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  border-radius: 0;
}
.accordion .card-header button:hover {
  text-decoration: none;
  background: #f3f3f3;
}
.accordion .card:first-of-type,
.accordion .card:not(:first-of-type):not(:last-of-type)  {
    border-bottom: 1px solid #e5e5e5;
}
.accordion .card {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.accordion .card-body {
  padding: 30px;
  border-radius: 5px;
  background: #f9f9f9;
}

.categories h2 {
  font-size: 22px;
  font-weight: 400;
  margin:0;
  margin-bottom: 20px;
}
.categories h2 span {
  color: #c61c2b;
}
.categories a {
  color: #333;
  font-size: 13px;
}
.categories a:hover {
  color: #333;
}
.categories i {
  margin-left: 5px;
}

.listing .category a {
  font-size: 11px;
  color: #c61c2b;
  font-weight: 400;
}
.listing .card-img {
  height: auto;
  overflow: hidden;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #f3f3f3;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
.listing .card {
  border: none;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
}
.listing .card-body {
  padding-top: .5rem;
}
.listing .card-deck {
  margin-bottom: 50px;
}
.listing .card-title {
  font-size: 13px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}
.listing .card-title a {
  color: #555;
}
.listing .card-time {
  color: #444;
  font-size: 10px;
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;
}
.page-numbers {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 3px 0 0;
  border: 1px solid #eee;
  line-height: 1;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 400;
  min-width: 40px;
  text-align: center;
  font-size: .9rem;
}

.page-numbers.current,
a.page-numbers:hover {
  background: #f9f9f9;
  text-decoration: none;
}

.pagination .nav-links {
  margin: 30px auto 0;

}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comment-body .pull-left {
  padding-right: 0.625rem;
}

.comment-list .comment {
  display: block;
}

.comment-list {
  padding-left: 0;
}

.comments-title {
  font-size: 1.125rem;
}

.comment-list .pingback {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.563rem 0;
}

.comment-list .pingback:first-child {
  border: medium none;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  background: #f1f1f1 none repeat scroll 0 0;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 0.313rem 0.313rem 0;
  text-align: center;
}
.wp-caption img[class*="wp-image-"] {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text {
  font-size: 0.688rem;
  line-height: 1.063rem;
  margin: 0;
  padding: 0.625rem;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-item .gallery-columns-2 {
  max-width: 50%;
}
.gallery-item .gallery-columns-3 {
  max-width: 33.33333%;
}
.gallery-item .gallery-columns-4 {
  max-width: 25%;
}
.gallery-item .gallery-columns-5 {
  max-width: 20%;
}
.gallery-item .gallery-columns-6 {
  max-width: 16.66667%;
}
.gallery-item .gallery-columns-7 {
  max-width: 14.28571%;
}
.gallery-item .gallery-columns-8 {
  max-width: 12.5%;
}
.gallery-item .gallery-columns-9 {
  max-width: 11.11111%;
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugin Compatibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Woocommerce
--------------------------------------------------------------*/
.woocommerce-cart-form .shop_table .coupon .input-text {
  width: 8.313rem !important;
}

.variations_form .variations .value > select {
  margin-bottom: 0.625rem;
}

.woocommerce-MyAccount-content .col-1,
.woocommerce-MyAccount-content .col-2 {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
.elementor-page article .entry-footer {
  display: none;
}

.elementor-page.page-template-fullwidth #content.site-content {
  padding-bottom: 0;
  padding-top: 0;
}

.elementor-page .entry-content {
  margin-top: 0;
}

/*--------------------------------------------------------------
## Visual Composer
--------------------------------------------------------------*/
.vc_desktop article .entry-footer {
  display: none;
}

.vc_desktop #content.site-content {
  padding-bottom: 0;
  padding-top: 0;
}

.vc_desktop .entry-content {
  margin-top: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background: #121212;
  border-bottom: 10px solid #c51c2b;
}

footer#colophon {
  text-transform: uppercase;
  font-size: .65rem;
  font-weight: 600;
  color: #fff;
}
#footer-nav {
  border-right: 2px solid #fff;
}
.footer-border {
  position: relative;
  width: 100%;
  margin-bottom: -1px;
}
.footer-border .left {
  width: 100%;
  height: 30px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background: #2a2a2a;
  position: absolute;
  top: -30px;
}
.footer-border .right {
  width: 100%;
  height: 30px;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  background: #e7e7e7;
  position: absolute;
  right: 0;
  top: -30px;
}
.header-border {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-top: -30px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
.header-border {
  display: none;
  }
}
@supports (-ms-ime-align:auto) {
  /* Microsoft Edge Browser 12+ (All) - @supports method */
  .header-border {
  display: none;
  }
}
.header-border .top-left {
  background: #e7e7e7;
  height: 30px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.header-border .top-right {
  background: #2b2b2b;
  height: 30px;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
}
.header-border .bottom-left {
  background: #f3f3f3;
  height: 30px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);

}
.header-border .bottom-right {
  background: #404040;
  height: 30px;
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
  clip-path: polygon(0 0, 100% 100%, 100% 0);
}
body:not(.theme-preset-active) footer#colophon {
  color: #99979c;
  background-color: #f7f7f7;
}
.navbar-dark .site-info {
  color: #fff;
}
.copyright {
  font-size: 0.875rem;
  margin-bottom: 0;
  text-align: center;
}

.copyright a, footer#colophon a {
  color: inherit;
}
footer .logo {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  footer .logo img {
    width: inherit;
  }

footer hr.divider {
  border-color: #c51c2b;
  width: 100px;
  display: none;
}
footer .lang a {
/*  padding: 0.5rem 1rem;
*/  display: block;
}
footer .lang a:hover {
  text-decoration: none;
}
.wpml-ls-legacy-list-horizontal {
  padding: 0;
}
.wpml-ls-legacy-list-horizontal a {
  padding: 8px 10px;
}
  #a{order:1;}
  #b{order:2;}
  #c{order:3;}
@media screen and (max-width: 767px) {
  #masthead .navbar-nav > li > a {
    padding-bottom: 0.938rem;
    padding-top: 0.938rem;
  }
}
/*--------------------------------------------------------------
# Media Query
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Notebook
--------------------------------------------------------------*/
@media only screen and (max-width: 1280px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 1199px) {
  .navbar-dark .dropdown-item {
    color: #fff;
  }
  .navbar-nav .dropdown-menu {
    background: transparent;
    box-shadow: none;
    border: none;
  }

}
/*--------------------------------------------------------------
## Netbook
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}
/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 960px) {
  html {
    font-size: 85%;
  }


  /**/
}
@media only screen and (max-width: 990px) {
  footer {
    background: #141414 url('./inc/assets/img/dragon.svg') center center no-repeat;
    background-size: 550px 550px; 
  }
  #footer-nav {
    border-right: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #footer-nav li {
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
  }
  #footer-nav li:last-child {
    margin-bottom: 0px;
  }
  footer .logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  footer .logo img {
    width: 180px;
  }

  #a{order:3 !important;}
  #b{order:2;}
  #c{order:1 !important;}

  footer .lang {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  hr.divider {
    display: block !important;
  }
  .card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column !important;
    margin-right: -15px;
    margin-left: -15px;
  }
  .wpml-ls-legacy-list-horizontal .wpml-ls-flag {
    width: 36px;
    height:  24px;
  }
  .listing .card-deck {
    width: 100%;
  }
}

@media (max-width: 575px) {
  #content .entry-header {
    padding: 30px;
  }
  .home .page-title {
    padding-top: 180px;
  }
  .gray-skew.features {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .features.gray-skew .row div.col-sm {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  
}

/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}
/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  html {
    font-size: 75%;
  }
  .header-border {
    margin-top: 30px;
  }
}